table thead{
	background-color: #f6f7fb;
	color: #62656c;
	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

table thead th{
	font-weight: normal;
	border-top: none;
	border-bottom: none;
}


table tbody tr td:first-child{
	color: #71aedb;
}

table tbtr:first-child{
	border-top: none;
}